/* Add the following styles for the new layout */
.encasement-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%; /* Increased width for better alignment */
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}

.key-dropdown-container {
    margin-bottom: 20px;
}

.file-drop-area {
    border: 2px dashed #007bff; /* Bootstrap primary color for the border */
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #f8f9fa; /* Bootstrap light background color */
}

.file-drop-area img {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}


#authorize_button {
    background-color: #28a745; /* Bootstrap success color */
    color: white;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
}


#authorize_button box-icon {
    margin-right: 5px;
}

.btn-primary,
#file-input-encrypt,
#authorize_button {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 50%;
}

#file-details-container {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrolling if more than 5 entries */
    max-height: 430px; /* Set the maximum height for the container */
}

.file-entry-container {
    margin-bottom: 10px; /* Add margin between file entries */
    border: 2px solid silver; /* Add border property */
    border-radius: 5px;
    padding: 10px;
}

.file-entry {
    padding: 10px;
}


.wrapper {
    display: flex;
    flex-direction: row;
}

#scan-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 9999;
    display: none;
}

#loading-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 51%;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.eButton {
    border: none;
    background-color: #28a745; /* Bootstrap success color */
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: -30px;
    color: white;
}

.file-container {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a border between entries */
}

.jumbotron {
    margin-top: 80px;
    margin-bottom:10px;
}

#header {
    margin-bottom: 10px;
}


.drive-picker-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.svg-icon {
    width: 16px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
    margin-right: 5px; /* Add spacing between the icon and text */
    margin-top: 6px;
}

.download-container {
    display: none;
}