.jumbotron {
    margin-top: 80px;
    margin-bottom:10px;
}

#header {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.keydiv,
.historydiv,
.fileinboxdiv {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    font-size: 20px;
    height: 220px; /* Set a fixed height for each div */
    min-height: 250px; /* Set a minimum height to prevent collapsing */
}

.keydiv:hover,
.historydiv:hover,
.fileinboxdiv:hover {
    transform: scale(1.05);
}

.keyheader,
.historyheader,
.fileinboxheader {
    transition: transform 0.3s ease-in-out;
}

.keyheader:hover,
.historyheader:hover,
.fileinboxheader:hover {
    background-color: rgb(198, 194, 194);
    border-radius: 5px;
    cursor: pointer;

}

.expansionButton {
    border: none;
    background-color: #4CAF50; /* Green color, change as desired */
    color: white;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    padding: 8px 12px; /* Smaller padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding box shadow */
    margin-top: 10px;
}

.expansionButton:hover {
    transform: scale(1.03); /* Slightly smaller scale */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.listkeys {
    min-height: 190px; /* Set a minimum height to prevent collapsing */
    overflow-y: auto; /* Change overflow to auto to enable scrolling */
    max-height: 190px; /* Limit the maximum height */
}

.keyheader,
.historyheader,
.fileinboxheader {
    display: flex;
    align-items: center; /* Align items vertically */
}

.keyheader i,
.historyheader i,
.fileinboxheader i {
    margin-left: auto; /* Push the chevron icon to the right */
}



@media only screen and (max-width: 768px) {
    .keydiv,
    .historydiv,
    .fileinboxdiv {
        flex: 1 100%;
        height: auto;
        min-height: 250px;
    }
}