body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: silver;
      border-radius: 10px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      height: 40px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }
    .table-row:hover {
      background-color: silver;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }


    /* .table-row:hover {
        background-color: silver;
    } */
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.Header h2 {
    margin: 0; /* Remove default margin to prevent extra space */
}

.buttons {
    margin-left: auto; /* Move buttons to the right */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyHead {
    position: absolute;
}

a.importKey,
a.generateKey {
    display: flex;
    align-items: center; /* Center content vertically */
    color: black;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

a.importKey:hover,
a.generateKey:hover {
    background-color: silver;
}
    

/* Adjust the line-height based on the height of your icons */
a.importKey i,
a.generateKey i {
    /* line-height: 1; */

}

a.importKey {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
  margin-bottom: 0;
}


#keyCard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#keyCardClose {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.responsive-table .table-header {
    display: flex;
}

.col-right {
    margin-left: auto;
}

.responsive-table .table-row {
  display: flex;
  justify-content: space-between;
}

.responsive-table .col-right {
  text-align: right;
  flex-basis: 15%; /* Adjust the width as needed */
}

.icon-spacer {
  margin-right: 10px;
}



.responsive-table .col-right i.bxs-download:hover {
  border-radius: 5px;
  background-color: silver;
  padding: 2px;
}

.responsive-table .col-right i.bxs-download {
  color: black;
}
.responsive-table .col-right i.bxs-x-circle:hover {
  border-radius: 5px;
  background-color: silver;
  padding: 2px;
}



