body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow-x: auto;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    width: 100%;
    white-space: nowrap;

    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: black;
      color: white;
      border-radius: 10px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      height: 40px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }
    .table-row:hover {
      background-color: silver;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }


    /* .table-row:hover {
        background-color: silver;
    } */
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
  }

  .Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.Header h2 {
    margin: 0; /* Remove default margin to prevent extra space */
}

.buttons {
    margin-left: auto; /* Move buttons to the right */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyHead {
    position: absolute;
}

a.importKey,
a.generateKey {
    display: flex;
    align-items: center; /* Center content vertically */
    color: black;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

a.importKey:hover,
a.generateKey:hover {
    background-color: silver;
}
    



a.importKey {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
  margin-bottom: 0;
}


#keyCard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 5px;
}

#KeyGen {
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

#KeyGen:hover {
  transform: scale(1.05);
}

#keyCardClose {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.responsive-table .table-header {
    display: flex;
}

.col-right {
    margin-left: auto;
}

.responsive-table .table-row {
  display: flex;
  justify-content: space-between;
}

.responsive-table .col-right {
  text-align: right;
  flex-basis: 15%; /* Adjust the width as needed */
}

.icon-spacer {
  margin-right: 10px;
}



.responsive-table .col-right i.bxs-download:hover {
  border-radius: 5px;
  background-color: silver;
  padding: 2px;
}

.responsive-table .col-right i.bxs-download {
  color: black;
}
.responsive-table .col-right i.bxs-x-circle:hover {
  border-radius: 5px;
  background-color: silver;
  padding: 2px;
}

@media screen and (max-width: 767px) {
  .responsive-table {
    width: 100%; /* Ensure the table takes up the full width */
    white-space: nowrap;
    position: relative; /* Set the container as relatively positioned */
  }

  .Header {
    display: flex;
    justify-content: space-between; /* Align elements to the edges */
    align-items: center;
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff; /* Adjust background color if necessary */
    z-index: 1; /* Ensure the Header is above the table content */
    left: 70%;
  }

  .keyHead h2 {
    width: 100%; /* Ensure h2 takes up the full width */
    margin: 0; /* Reset margin to prevent extra space */
  }

  #keyCard {
    width: 90%;
}



  .table-row,
  .table-header {
    display: flex; /* Ensure table rows are displayed as flex items */
    flex-wrap: nowrap; /* Prevent wrapping of table rows */
    min-width: 800px; /* Set minimum width for table rows */
  }

  .col {
    min-width: 150px; /* Set minimum width for table columns */
    flex: 1; /* Allow columns to expand equally */
  }
}



