body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

h1 {
    color: white;
}

p {
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
    margin-bottom: 20px;
  }
  
  .btn {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  
  .btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
  }
  
  .btn-success {
    background-color: #5cb85c;
    color: #fff;
    border: none;
  }