/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-container {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}

#profile-picture {
  width: 100%;
  height: auto;
}

.user-info {
  text-align: center;
}

.user-info h2 {
  margin-bottom: 10px;
}

.user-info p {
  margin-bottom: 5px;
}

.btn {
  margin-top: 10px;
  cursor: pointer;
}

.card2fa {
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-header {
  display: flex;
  justify-content: flex-end;
}

.card-header button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 10px;
}

label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
