<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        <nav id="navbar" class="col-md-2 d-none d-md-block  sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/pages/home.html">
                          <i class='bx bx-home'"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/encrypt.html">
                          <i class='bx bxs-lock'></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/decrypt.html">
                          <i class='bx bxs-lock-open'></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/keymanagement.html">
                          <i class='bx bx-key bx-rotate-90'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
  </div>

  <script src="/js/navbar.js"></script>

</body>
</html>