<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Factor Authentication</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body class="img js-fullheight" style="background-image: url(/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Two-Factor Authentication</h3>
                        <form action="#" class="signin-form" onsubmit="module.verifyTOTP(event)">
                            <div class="form-group">
                                <label for="otp-field">Enter OTP:</label>
                                <input type="text" autocomplete="off" id="otp-field" class="form-control" placeholder="6-digit OTP" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3 text-center">Submit OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        const module = {};
    </script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popper.js"></script>
    <script type="module">
        import { verifyTOTP } from '/js/account.js';

        module.verifyTOTP = verifyTOTP       </script>
    <script src="https://unpkg.com/@otplib/preset-browser@^12.0.0/buffer.js"></script>
    <script src="https://unpkg.com/@otplib/preset-browser@^12.0.0/index.js"></script>

</body>

</html>
