<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/change-password.css">
    <title>Change Password</title>
</head>
<body>
    <section>
        <form>
            <label for="current-password">Current Password:</label>
            <input type="password" id="current-password" name="current-password" required>

            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" required>

            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Change Password</button>
        </form>
    </section>
</body>
</html>