<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JTR Encryption Settings</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body class="img js-fullheight" style="background-image: url(/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="settings-wrap p-0">
                        <div class="form-group text-center">
                            <h3 id="disable-2fa-title" class="mb-4"></h3>
                            <p id="disable-2fa-message" class="text-center"></p>
                            <a href="/" class="form-control btn btn-primary submit px-3 text-center">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Include necessary scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="module" src="/js/checkingDAT.js"></script> <!-- Include a script for handling 2FA disabling -->
    <script src="/js/popper.js"></script>
    <script src="/js/clearInputBoxes.js"></script>
</body>

</html>
