<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FYP</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="social d-flex text-center">
        <button class="px-2 py-2 mr-md-1 rounded" onclick="module.keygen()"><span class="ion-logo-facebook mr-2"></span>Next</button>
    </div>
    
    <form id="fileUploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".txt, .pdf, .docx" />
        <button type="button" onclick="module.uploadFile()">Upload</button>
    </form>

    <form id="fileUploadForm2" enctype="multipart/form-data">
        <input type="file" id="fileInput2" name="file" accept=".txt, .pdf, .docx" />
        <button type="button" onclick="module.uploadFile2()">Upload</button>
    </form>

    <div id="input"></div>
    <div id="output"></div>
    <div id="output2"></div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script type="module" src="../js/test.js"></script>
    <!-- <script type="module" src="../js/RSA and IndexedDB/rsa_keygen.js"></script>
    <script type="module" src="../js/RSA and IndexedDB/rsa.js"></script> -->
    <script type="text/javascript">
        const module = {};
    </script>
    <script type="module">
        import { keygen } from '../js/RSA and IndexedDB/rsa_keygen.js'
        import { uploadFile, uploadFile2 } from '../js/RSA and IndexedDB/rsa.js'

        module.keygen = keygen     
        module.uploadFile = uploadFile
        module.uploadFile2 = uploadFile2
    </script>
</body>
</html>
